.faq-container {
	margin: auto auto;
	width: 100%;
	padding: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 4rem;
}

.faq-inner {
	width: 50vw;
	margin-top: 1rem;
}
