.footer-container {
	height: 50px;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid gray;
	background-color: rgba(176, 223, 229, 0.3);
	font-size: 24px;
	margin-top: 4rem;
	/* position: fixed;
	bottom: 0;
	left: 0; */
}
